<div class="ion-text-center">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>cadastro</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <img src="../../assets/img/chow chow.jpg"/>
  <ion-card-header>
    <ion-card-title>Belle</ion-card-title>
  </ion-card-header>

  Dócil, ama brincar e está sempre disposta a receber carinhos e braços. 
  Já castrada e fermifugada, com todos as vainas em dia.

  <br/>
  <br/>
  <br/>
  Dados propriétário:
  José da Siva<br/>
  Telefone: (61)9 9999-0101
</ion-content>

